* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    background: #422308;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* z-index: 999; */
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 50px;
    padding-left: 50px;
}

#navbar__logo {
    color: #eec07b;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #eec07b;
    color: #6d3200;
    font-weight: 700;
}

.button:hover {
    background: #f0d1a0;
    transition: all 0.3s ease;
}

.second-button button a {
    position: relative;
    font-size: 3vw;
}

.second-button button{    
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    border-style: solid;
    border-color: #f0d1a0;
    border-radius: 50px;
    outline: none;
    background: transparent;
    margin-top: 2.8rem;
    margin-left: 25%;
    font-weight: 700;
    font-size: 2rem;
    color: #eec07b;
    /* box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.3); */
    transition: all 0.8s ease;
    cursor: pointer;
}


.second-button button:hover {
    /* box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.3);*/
    background: #f0d1a0; 
    box-shadow: inset 400px 0 0 2px #e5d7c2;
    color: #6d3200;
}

.second-button a {
    display: flex;
    color: #eec07b;
    text-decoration: none;
    cursor: pointer;
}

.navbar__links:hover {
    color: #eec07b;
    transition: all 0.3s ease;
}

.first-page {
    background-image: url(images/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.first-page h1 {
    display: flex;
    margin-left: 18%;
    width: 550px;
    min-width: 450px;
    max-width: 300px;
    position: relative;
    display: flex;
    color: whitesmoke;
    font-size: 5vw;
    text-align: center;
    padding-top: 5rem;
    text-align: left;
}

.first-page p {
    display: flex;
    margin-left: 34%;
    margin-top: -2.2rem;
    font-size: 1.5vw;
    color: #f0d1a0;
    float: left;
}

@media screen and (max-width: 960px) {
    
    .navbar {
        position: sticky;
        z-index: 9999;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        /* margin: 0; */
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.2s ease;
        height: 70vh;
        z-index: 10;
        background: #422308;
    }

    .navbar__menu.active {
        background: #422308b9;
        backdrop-filter: blur(8px);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
        z-index: 9999;
    }

    .navbar__toggle {
        cursor: pointer;
        z-index: 9999;
    }

    .navbar__toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        /* margin-top: 5px;
        margin-bottom: 5px;
        margin-right: auto;
        margin-left: auto; */
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        margin-top: 1rem;
        width: 100%;
        display: table;
        font-weight: 700;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 50px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .first-page h1 {
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: left;
        font-size: 5.3vw;
        width: 120px;
    }

    .first-page p{
        width: 250px;
        min-width: 150px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2.1vw;
        margin-top: -3rem;
        margin-left: 35%;
    }

    .second-button {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 870px) {
    .first-page h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 7vw;
        /* margin-left: 15%; */
        margin-right: 50%;
    }

    .first-page p {
        margin-left: 38%;
    }
}

@media screen and (max-width: 735px) {
    .first-page h1 {
        align-items: center;
        justify-content: center;
        text-align: left;
        right: 11%;
        font-size: 8vw;
        /* margin-left: 25%; */
    }
    .first-page p {
        margin-top: -3rem;
        margin-left: 30%;
        position: relative;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 550px) {
    .first-page h1 {
        min-width:350px;
        margin-left: 24%;
    }

    .first-page p {
        margin-top: -2.5rem;
        margin-left: 35%;
        width: 45%; 
        font-size: 3vw;
    }

    .second-button button a {
        font-size: 4vw;
    }
}

@media screen and (max-width: 440px) {
    .first-page h1 {
        text-align: center;
        left: -4.9rem;
        min-width: 350px;
        font-size: 3rem;
    }

    .first-page p {
        left: -6rem;
        margin-top: 1rem;
        font-size: 1.3rem;
        min-width: 300px;
    }

    .first-page {
        height: 95vh;
    }

    .second-button {
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
        margin-left: -1rem;
    }

    .second-button button a {
        font-size: 2rem;
    }

    /* .second-button:focus {
        background-color: #eec07b;
    } */

    .navbar {
        height: 80px;
    }
}
